<div id="content">
    <table class="table">
        <tbody>
            <tr>
                <th scope="row">Address</th>
                <td>{{address}}</td>
            </tr>
            <tr>
                <th scope="row">Rent</th>
                <td>{{rent}}</td>
            </tr>
            <tr>
                <th scope="row">Deposit</th>
                <td>{{deposit}}</td>
            </tr>
            <tr>
                <th scope="row">Description</th>
                <td>{{description}}</td>
            </tr>
        </tbody>
    </table>
</div>