<link rel='stylesheet' href='/stylesheets/style.css' />
<header> 
<h1> Slug Space </h1>    
<!-- About -->   
    <nav class = "home">
        <ul>
           <li><input type="button" class="button" onclick="location.href='/';" value="Home" /></li>
        </ul>
    </nav>
</header>
    </nav>
</header>

<!-- About -->
<center><div id="about">
    <h2>Slug Space aims to improve the housing process for students and landlords.</h2>
    <h3><b>Disclaimer:</b> Slug Space is not affiliated with UCSC.</h3>
    <br>
    <br>
    <p>Users must be registered and logged in to create, search, or view listings.</p>



</div></center>