<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Welcome to the Dashboard</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">Listings</a>
                </li>
                <li>
                    <a href="#">Profile</a>
                </li>
                <li>
                    <a href="#">Settings</a>
                </li>
                <li>
                    <a href="#">Help</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="col-md-2 sidebar">
        <ul class="nav nav-sidebar">
            <li>
                <a href="/search">Visit Map</a>
            </li>
            <li>
                <a href="#">Create Listing</a>
            </li>
            <li>
                <a href="#">Manage Listings</a>
            </li>
            <li>
                <a href="#">View All Listings</a>
            </li>
        </ul>
    </div>

    <div class="col-md-8">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Your Listings:</h1>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">4 Bedrooms, 2.5 Bath House</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Address: </b>125 Eastridge Ct, Santa Cruz, CA 95060</p>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Rent amount:</b> $4,500 per month</p>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Security Deposit:</b> $4,500</p>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Non-refundable fees:</b> None</p>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Room for:</b> 5</p>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Starting:</b> 11/11/2017</p>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Rental terms:</b> Lease (1 year)</p>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Distance to closest bus station:</b> 8 min</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <h3 class="list-group-item-heading">2 Bedrooms, 1 Bath Apartment</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Address:</b> 300 High Street, Santa Cruz, CA 95064</p>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Rent amount:</b> $2,500 per month</p>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Security Deposit:</b> $1,250</p>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Non-refundable fees:</b> None</p>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Room for:</b> 3</p>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Starting:</b> 12/01/2017</p>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Rental terms:</b> Month to month</p>
                        </div>
                        <div class="col-md-6">
                            <p class="list-group-item-text">
                                <b>Distance to closest bus station:</b> 5 min</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Listings You're Interested In:</h1>
            <p>You have not shown interest in any listings.</p>
        </div>
    </div>
</div>






<script src='/javascripts/dashboard.js'></script>
<script>
    $(document).ready(function () {
        user.init();
    });
</script>