<div class="container-fluid">
        <div class="col-sm-9 col-sm-offset-1">
            <h1 class="page-header">All Slug Space Listings:</h1>
            <div class="list-group">
            </div>
        </div>
</div>


<script src='/javascripts/everyListing.js'></script>
<script>
    $(document).ready(function () {
        everyListing.initEveryListing();
    });
</script>