<link rel='stylesheet' href='/stylesheets/style.css' />
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBwHxWvYCHhQz43cixoc6sJjWn12rz_KXw"></script>
<script src="javascripts/map.js"></script> 

<header> 
<h1> Slug Space </h1>
<!-- Login/Sign up -->
    <nav class = "login" >
        <ul>
            <li><a href="/login">Login</a><li>
            <li><a href="/signup">Sign Up</a></li>
        </ul> 
    </nav>
<!-- Home/About -->   
    <nav class = "home">
        <ul>
           <li><input type="button" class="button" onclick="location.href='/';" value="Home" /></li>
           
           <li><input type="button" class="button" onclick="location.href='/about';" value="About" /></li>
        </ul>
    </nav>
</header>

<!-- Google Map -->
<!-- Santa Cruz map using Google Map API -->

<center><div id="map"> </div></center>