<h1>Login</h1>
<form>
    <label>username</label>
    <input type='text' placeholder='Enter Username'>
    <label>Password</label>
    <input type="password" placeholder="Enter Password" name="psw" required>
    <button>submit</button>
</form>