<script src="/javascripts/map.js"></script> 
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFIklLWIVn9fal8b7hHmiMZln8tY4W8ig"></script>

<div class="search">
    <header>
    <h1>Search For Homes</h1>
    </header>
</div>
<div class="mapSearch">
    <center><div id="map"><center>
    </div>
</div>
