<link rel='stylesheet' href='/stylesheets/map.css' />
<div class="jumbotron">
    <h1>Search For Homes</h1>
</div>

    <div id="map" style="position:relative">
    </div>

<script src="/javascripts/map.js"></script> 
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFIklLWIVn9fal8b7hHmiMZln8tY4W8ig"></script>

