<head>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFIklLWIVn9fal8b7hHmiMZln8tY4W8ig"></script>
<script src="/javascripts/map.js"></script> 
</head>
<link rel='stylesheet' href='/stylesheets/map.css' />

<div class="search">
    <header>
    <h1>Search For Homes</h1>
    </header>
</div>
<div class="mapSearch">
    <center><div id="map" style="position:relative"><center></center>
    </div>
</div>


<script>
    $(document).ready(function(){
    map.initMap();
    user.init_user_page();
});
</script>

