<div class="container">
    <h1>Sign Up</h1>
    <div class="signup_inner">
        <form>
            <label>Email</label>
            <input id='email' type='text' placeholder='Enter Email' required>
            <br>
            <label>Password</label>
            <input id='password' type="password" placeholder="Enter Password" name="psw" required>
            <br>
            <label>Re-enter Password</label>
            <input id='password' type="password" placeholder="Enter Password" name="psw" required>
            <br>
                <div class="btns">
                    <button id='signup'>Sign Up</button>
                    <br>
                    </div>
        </form>
    </div>
 </div>

<script src='/javascripts/login.js'></script>
<script>
    $(document).ready(function(){
        user.init(); 
    });
</script>